body {
    background-color: rgb(204, 156, 116);
    
}
header {
    background-color: rgb(161, 104, 58);
}

.site-menu {
   text-align: center;
    padding: 10px;
    border-bottom: 2px solid black;
}
a {
    color: black;
    margin: 0px 20px;
    text-decoration: none;
}
a:hover {
    color: white;
}

.center {
    text-align: center;
}
#text {
    margin-left: 80px;
    margin-right: 80px;

}
.img {
    display: block;
    margin: 0 auto;
}
